#profile{

    margin-top: 15%;
    margin-bottom: 15%;

    .profile-title{
        text-align: center;
        font-size: 35px;
        color: antiquewhite;
        
    }


    .about-title{
        text-align: center;
        font-size: 35px;
        color: antiquewhite;

    }

    .about-p{
        text-align: inherit;
    }


    .details-title{
        text-align: center;
        font-size: 35px;
        color: antiquewhite;

    }

    .details-p{
        text-align: inherit;
    }

    .avatar-container{
        padding-left: 25%;
    }


    .avatar{
        
        border-radius: 100%;
    }











}