#container-footer{
    display: flex;
    flex-direction: column-reverse;
    margin: auto auto 0 auto;
    margin: 20px;



    .icons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .info-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .img-social{
        margin: 10px;
    }




}