#slider1{
    

    .slider-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vw;
        border-radius: 10%;


        h1{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: azure;   
        }
        }


       


    
}