#slider1{
    

    .slider-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 100vw;
        height: 49vw;
        -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);


        .h1-slider{
            
            font-family: 'Open Sans';
            color: cornsilk;   
            text-align: center;
            font-size: 45px;
            text-shadow: 2px 2px green;
            margin-top: 45%;
        }
        .h2-slider{
            font-family: 'Open Sans';
            color: cornsilk;   
            text-align: center;
            font-size: 25px;
            text-shadow: 2px 2px green;
        }

        p{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: azure;
            text-align: center;
        }
        }


       


    
}


@media (max-width: 800px){


    #slider1{
    

        .slider-content {       
            width: 100vw;
            height: 100vw;      
    
            }
    
        
    }
  
    
    
  }