#slider2{
    

    .slider2-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 49vw;
        -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
        }

        .h2-slider{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: cornsilk;   
            text-align: center
        }

        p{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: azure;
            text-align: center;
        }


    
}