#slider1{
    

    .slider-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vw;
        -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);


        .h1-slider{
            text-transform: uppercase;
            font-family: Arial;
            color: cornsilk;   
            text-align: center;
            font-size: 30px;
                }
        .h2-slider{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: cornsilk;   
            text-align: center
        }

        p{
            font-family: 'Courier New', Courier, monospace, sans-serif;
            color: azure;
            text-align: center;
        }
        }


       


    
}