#slider3{
    

    .slider3-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vw;
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
        
        }


    
}