#slider2{
    

    .slider2-content {
        margin: -10;
        padding: 0;
        background-image: url('../../assets/images/bg2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vw;
        border-radius: 10%;
        }


    
}